<article class="card" itemscope itemtype="https://schema.org/Product">
  <a href="/" class="card__image" itemprop="url">
    <img
      class="card__img"
      src="assets/images/card.png"
      alt="Смарт-годинник XYZ - зображення товару"
      width="295"
      height="298"
      loading="lazy"
      itemprop="image"
    />
  </a>

  <div class="card__info">
    <h2 class="card__title" itemprop="name">
      <a class="card__link text-decoration" href="/" itemprop="url"
        ><span>Смарт-годинник XYZ</span></a
      >
    </h2>

    <rating [rating]="3" [readonly]="true" />

    <div
      class="card__currency"
      itemprop="offers"
      itemscope
      itemtype="https://schema.org/Offer"
    >
      <meta itemprop="priceCurrency" content="UAH" />
      <div class="card__price card__price-new">
        ₴<span itemprop="price">2499</span>
      </div>
      <div class="card__price card__price-old">₴<span>2799</span></div>
      <span class="card__save">-20%</span>
    </div>
  </div>
</article>
