@use "../functions" as *;
@use "../mixins" as *;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 100vmax;
  padding: rem(16) rem(24);
  border: 1px solid transparent;
  user-select: none;

  &__black {
    background-color: var(--color-dark);
    color: var(--color-light);
    border-color: var(--color-dark);

    @include interactive {
      color: var(--color-dark);
      background-color: var(--color-light);
    }
  }

  &__white {
    background-color: var(--color-light);
    color: var(--color-dark);
    border-color: var(--color-dark);

    @include interactive {
      color: var(--color-light);
      background-color: var(--color-dark);
    }
  }

  &__gray {
    background-color: var(--color-gray);
    color: var(--color-gray-alt);
    border-color: var(--color-gray);

    @include interactive {
      color: var(--color-dark);
      background-color: var(--color-gray-alt);
    }
  }
}