@use "styles/functions" as *;

.loading {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgb(255 255 255 / 100%);

  &__spinner {
    width: rem(60);
    height: rem(60);
    border: rem(8) solid var(--color-light);
    border-top: rem(8) solid var(--color-gray-alt);
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  &__full {
    position: fixed;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
