<section class="company">
  <div class="company__container container">
    <img class="company__logo" src="assets/images/company/versace.svg" width="117" height="24" alt="Versace" />
    <img class="company__logo" src="assets/images/company/zara.svg" width="65" height="27" alt="Zara" />
    <img class="company__logo" src="assets/images/company/gucci.svg" width="110" height="26" alt="Gucci" />
    <img class="company__logo" src="assets/images/company/prada.svg" width="127" height="21" alt="Prada" />
    <img class="company__logo" src="assets/images/company/calvin-klein.svg" width="135" height="23" alt="Calvin Klein" />
  </div>
</section>