@mixin fluid-text($maxSize, $minSize, $maxWidth: 1640, $minWidth: 320) {
  font-size: clamp(
    #{calc($minSize / 16) + rem},
    calc(
      #{calc($minSize / 16) + rem} + (#{$maxSize} - #{$minSize}) *
        (
          (100vw - #{calc($minWidth / 16) + rem}) /
            (#{$maxWidth} - #{$minWidth})
        )
    ),
    #{calc($maxSize / 16) + rem}
  );
}

@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}
